<app-sidebar></app-sidebar>
<main>
    <div class="container">

        <!-- COMPANY INFO -->
        <div class="bg-dark text-white shadow card mt-4" style="width: 80vh;">
            <img src="../../../assets/company.jpg" class="card-img-top" alt="">
            <div class="card-body">
                <h1 class="card-title">Company</h1>
                <p class="card-text">
                    We are a lazy company.
                </p>
                <h4>Where are we?</h4>
            </div>

            <ul>
                <li class="bg-dark text-white list-group-item">Roma</li>
                <li class="bg-dark text-white list-group-item">Napoli</li>
                <li class="bg-dark text-white list-group-item">Milano</li>
            </ul>
        </div>

        <!-- MANAGE PRODUCTS/EMPLOYEE-->
        <div class="mb-4 text-center">
            <div class="row g-2">
                <div class="col-6">
                    <div class="bg-dark text-white shadow card mt-4" style="width: 30vh;">
                        <img src="../../../assets/employee.png" class="p-4 card-img-top" alt="">
                        <div class="card-body">
                            <h1 class="card-title">Employee</h1>
                            <button class="btn btn-primary">MANAGE</button>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="bg-dark text-white shadow card mt-4" style="width: 30vh;">
                        <img src="../../../assets/product.png" class="card-img-top" alt="">
                        <div class="card-body">
                            <h1 class="card-title">Prodotti</h1>
                            <button class="btn btn-primary">MANAGE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- CHART -->
        <div id="myChart" class="mb-4" style="width:80vh; height:400px;"></div>
    </div>
</main>