<header>
    <nav class="shadow sidebar bg-dark">
        <h2 class="text-center text-white">Company</h2>
        <div class="list-group mx-3 mt-4">
            <a routerLink="/home" class="hide item mb-2 p-2 bg-black rounded text-white">
                Home
            </a>
            <a routerLink="/employees" class="hide item mb-2 p-2 bg-black rounded text-white">
                Employees
            </a>
            <a routerLink="/products" class="hide item mb-2 p-2 bg-black rounded text-white">
                Products
            </a>
            <a routerLink="/login" class="hide item mt-5 mb-2 p-2 bg-danger rounded text-white">
                Logout
            </a>
        </div>
    </nav>
</header>